
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}
.form-container {
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20vh; /* Adjust the top margin to vertically center the container */
  
}
.title{
  font-size:20px;
}