
<div class=" form-container">
    <div class="card col-8  m-auto shadow rounded py-4 p-3">
          <div class="card-body">

         
<form>  
<div class="w-100 my-3 mb-5">
  <p class="text-center title">Add New Class</p>
  <p class="text-center text-secondary">Complete this form below</p>
</div>

<div class="row d-flex flex-column my-3 col-9 m-auto pb-3">
<label for="Input1" class="gap-3">Class Name</label>
<input type="text" class="form-control"  placeholder=" Class Name ">
</div>


<div class="row d-flex flex-column my-3 col-9 m-auto pb-3">
<label for="Input2">Number of Students</label>
<input type="number" class="form-control"  placeholder=" Number Of Students">
</div>

<div class="m-auto">
<button type="submit" style="width: 50%; margin-left: 25%;" class=" mt-3 text-center border-rounded py-1 btn btn-dark">Save class</button>
</div>
</form>
</div>
</div>
</div>
