<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by title">
    <div class="input-group-append">
      <button class="btn btn-outline-danger">Search</button>
    </div>
  </div>
  
  <div class="card-body table-responsive mt-2">
    <table class="table border-secondary text-center table-hover">
      <thead>
        <tr>
          <th class="fw-bold">Class's Name</th>
          <th class="fw-bold">Number Of Students</th>
          <th class="fw-bold">Events</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classItem of classes">
          <td class="text-dark">{{ classItem.name }}</td>
          <td class="text-dark">{{ classItem.numberOfStudents }}</td>
          <td class="text-dark">
            <button class="btn btn-primary text-white rounded-pill me-4 justify-content-between">Update</button>
            <button class="btn btn-danger rounded-pill ms-4">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
