<div class="card-body table-responsive mt-2">
  <table class="table border-secondary text-center table-hover">
    <thead>
      <tr>
        <th class="fw-bold">Student's CNE</th>
        <th class="fw-bold">Student's Full Name</th>
        <th class="fw-bold">Student's Class</th>
        <th class="fw-bold">Student's Notes</th>
        <th class="fw-bold">Events</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td class="text-dark">{{ student.cne }}</td>
        <td class="text-dark">{{ student.name }}</td>
        <td class="text-dark">
          <button class="btn btn-secondary text-white rounded-pill me-4">Show details</button>
        </td>
        <td class="text-dark">{{ getClassById(student.classId)?.name }}/td>

   
        <td class="text-dark">
          <button class="btn btn-primary text-white rounded-pill me-4" (click)="handleEdit(student)">Update</button>
          <button class="btn btn-danger rounded-pill ms-4" (click)="handleDelete(student)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

