<div class="form-container">
    <form (ngSubmit)="handleRegister()">
      <h3 class="text-center title mb-2">Register</h3>
      <p class="text-center text-secondary">Create your account</p>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Your Name" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Your Email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Your Password" required>
      </div>
      <button class="mt-4 btn btn-dark mb-4" type="submit">Register</button>
      <a href="/login">Already have an account?</a>
    </form>
  </div>
  
